@namespace LIUMarketplace.UI.Components
<div class="container">

    <div class="mb-5">
        <MudText Typo="Typo.h4">Latest Products</MudText>
    </div>




    @if (_isBusy)
    {
        <MudGrid Spacing="@spacing" Justify="Justify.FlexStart">
            <MudItem xs="1" sm="6" md="3">
                <MudCard>
                    <MudSkeleton SkeletonType="SkeletonType.Rectangle" Height="200px" />
                    <MudCardContent>
                        <MudSkeleton Width="30%" Height="42px;" />
                        <MudSkeleton Width="80%" />
                        <MudSkeleton Width="100%" />
                    </MudCardContent>
                    <MudCardActions>
                        <MudSkeleton Width="64px" Height="40px" Class="ml-2" />
                        <MudSkeleton Width="105px" Height="40px" Class="ml-3" />
                    </MudCardActions>
                </MudCard>
            </MudItem>
        </MudGrid>
    }
    else
    {
        <MudGrid Spacing="@spacing" Justify="Justify.FlexStart">
            @if (_products != null)
            {
                foreach (var product in _products)
                {
                    <MudItem xs="1" sm="6" md="3">
                        <ProductCard ProductDetails="product" />
                    </MudItem>
                }
            }


        </MudGrid>
    }
</div>

<style>
    .container {
        padding: 40px;
        margin-top: 40px;
    }
</style>
