@page "/"

<Hero />
<CampusSlider />
<CategorySlider />

<ProductsList />

<Features />

<Footer />

@*<br/>
<AuthorizeView>
    <Authorized>
        <h1>Welcome @context.User.FindFirst(System.Security.Claims.ClaimTypes.GivenName).Value </h1>
    </Authorized>
    <NotAuthorized>
        <MudLink Href="/auth/login" Typo="Typo.body2">Login</MudLink>
    </NotAuthorized>
</AuthorizeView>*@
@code{

 

}