@page "/"


<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<AuthorizeView>
    <Authorized>
        <h1>Welcome @context.User.FindFirst(System.Security.Claims.ClaimTypes.GivenName).Value </h1>
    </Authorized>
    <NotAuthorized>
        <MudLink Href="/auth/login" Typo="Typo.body2">Login</MudLink>
    </NotAuthorized>
</AuthorizeView>
@code{

 

}