@page "/products"




    <ProductsList Heading="All Products" ByCampus="false" ByCategory="false" />



<div class="floating-button">
    <MudFab Color="Color.Primary" StartIcon="@Icons.Material.Filled.Add"  OnClick="() => AddProduct()"/>

</div>

<Footer />

<style> 
    .floating-button { 
        position: fixed; 
        bottom: 200px; 
        right: 50px; 
    } 
</style> 


