@namespace LIUMarketplace.UI.Components
<div class="container">

    <div class="mb-5">
        <MudText Typo="Typo.h3" Align="Align.Center">Features</MudText>
        <MudText Typo="Typo.subtitle1" Align="Align.Center">Make your university shopping easiar and get lower prices.</MudText>
    </div>
    <MudGrid Spacing="@spacing" Justify="Justify.FlexStart">
        <MudItem xs="1" sm="6" md="4">
            <MudPaper Class="pt-15 pb-15 pl-10 pr-10 ma-2">
                <MudIconButton Class="mb-8" Icon="@Icons.Filled.Verified" Variant="Variant.Filled" Color="Color.Primary" Size="Size.Large" />
                <MudText Class="mb-5" Typo="Typo.h6">Verified</MudText>
                <MudText Class="mb-8" Typo="Typo.body2">LIU Marketplace get verified from the University and all Doctors and professores.</MudText>
            </MudPaper>
        </MudItem>

         <MudItem xs="1" sm="6" md="4">
            <MudPaper Class="pt-15 pb-15 pl-10 pr-10 ma-2">
                <MudIconButton Class="mb-8" Icon="@Icons.Filled.ContactPhone" Variant="Variant.Filled" Color="Color.Primary" Size="Size.Large" />
                <MudText Class="mb-5" Typo="Typo.h6">Communication</MudText>
                <MudText Class="mb-8" Typo="Typo.body2">24/7 customer support service, if you have any question we are here.</MudText>
            </MudPaper>
        </MudItem>

         <MudItem xs="1" sm="6" md="4">
            <MudPaper Class="pt-15 pb-15 pl-10 pr-10 ma-2">
                <MudIconButton Class="mb-8" Icon="@Icons.Filled.Security" Variant="Variant.Filled" Color="Color.Primary" Size="Size.Large" />
                <MudText Class="mb-5" Typo="Typo.h6">Secure</MudText>
                <MudText Class="mb-8" Typo="Typo.body2">All your data and password in safe place and no one can view it.</MudText>
            </MudPaper>
        </MudItem>





    </MudGrid>
</div>
@code {
    public int spacing { get; set; } = 2;
}

<style>
    .container {
        padding: 40px;
        margin-top: 40px;
    }
</style>
