@namespace LIUMarketplace.UI.Components

<div class="hero-section mud-elevation-1">
  <section class="hero">
    <div class="left">
      <h1>Welcome to <br>   LIU <br><span> Marketplace</span></h1>
      <p>Where you can find the best offers and best products</p>
      <a href="#">Learn more</a>
    </div>
    <div class="right">
      <img src="https://images.unsplash.com/photo-1522202176988-66273c2fd55f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1171&q=80" alt="">
    </div>
  </section>
</div>


<style>
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;

}


.hero-section{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  max-height: 600px;
  background : white;
}

.hero-section .hero { 
  display: grid;
  grid-template-columns: 4fr 1fr 4fr; 
  grid-template-rows: 1fr 6fr 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  max-width: 1000px;
  width: 90%;
  margin: 0 auto;
}

/* LEFT PART */
.hero-section .left { 
  grid-area: 1 / 1 / 3 / 3;
  border: 10px solid #594ae2;
  padding: 30px;
  background-color: #FFFFFF;
  position: relative;
  z-index: 2;
}
.hero-section .left h1{
  text-transform: uppercase;
  font-size: clamp(20px, 5vw ,40px);
  font-weight: 700;
  white-space: nowrap;
}
.hero-section .left h1 span{
  color: #594ae2;
}
.hero-section .left p{
  margin-top: 25px;
  margin-bottom: 50px;
  font-size: 16px;
}
.hero-section .left a{
  padding: 10px;
  text-transform: uppercase;
  text-decoration: none;
  border: 2px solid #594ae2;
  color: #000;
  font-weight: 700;
}
.hero-section .left a:hover{
  color: #FFFFFF;
  background-color: #594ae2;
}


/* RIGHT PART */
.hero-section .right { 
  grid-area: 2 / 2 / 4 / 4;
  border: 10px solid #594ae2;
  z-index: 1;
  position: relative;
}

.hero-section .right img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* LEFT AND RIGHT BANDS */
.hero-section .left::before,
.hero-section .right::before{
  content: '';
  position: absolute;
  top: 50%;
  height: 50%;
  width: 50%;
  background: #594ae2;
}
.hero-section .left::before{
  left: 0;
  transform: translateY(-50%) translateX(-100%);
}
.hero-section .right::before{
  right: 0;
  transform: translateY(-50%) translateX(100%); 
}

@@ media screen and (max-width: 450px){
  header .hero { 
    grid-template-rows: 6fr 1fr 6fr;
  }
  .left{
    grid-area: 1 / 1 / 3 / 4;
  }
  .right{
    grid-area: 2 / 1 / 4 / 4
  }
}

</style>

@code {
    ObjectFit ImageFit = ObjectFit.Cover;

    void SetImageFit(ObjectFit value)
    {
        ImageFit = value;
    }
}
