@namespace LIUMarketplace.UI.Components
<div class="container">

    <div class="mb-5">
        <MudText Typo="Typo.h3" Align="Align.Center">Testimonials</MudText>
        <MudText Typo="Typo.subtitle1" Align="Align.Center">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos blanditiis tenetur</MudText>
    </div>
    <MudGrid Spacing="@spacing" Justify="Justify.FlexStart">
        <MudItem xs="1" sm="6" md="4">
            <MudPaper Class="pt-15 pb-15 pl-10 pr-10 ma-2">
               
                <MudText Class="mb-5" Typo="Typo.h6" Color="Color.Primary" Align="Align.Center">Ahmad Mozaffar</MudText>
                <MudText Class="mb-8" Typo="Typo.body2" Align="Align.Center">Lorem ipsum dolor sit amet, consectetur adipisicing elit. </MudText>
                <MudText Class="mb-8" Typo="Typo.subtitle2" Align="Align.Center">Student </MudText>
            </MudPaper>
        </MudItem>

           <MudItem xs="1" sm="6" md="4">
            <MudPaper Class="pt-15 pb-15 pl-10 pr-10 ma-2">
               
                <MudText Class="mb-5" Typo="Typo.h6" Color="Color.Primary" Align="Align.Center">Ahmad Mozaffar</MudText>
                <MudText Class="mb-8" Typo="Typo.body2" Align="Align.Center">Lorem ipsum dolor sit amet, consectetur adipisicing elit. </MudText>
                <MudText Class="mb-8" Typo="Typo.subtitle2" Align="Align.Center">Student </MudText>
            </MudPaper>
        </MudItem>

           <MudItem xs="1" sm="6" md="4">
            <MudPaper Class="pt-15 pb-15 pl-10 pr-10 ma-2">
               
                <MudText Class="mb-5" Typo="Typo.h6" Color="Color.Primary" Align="Align.Center">Ahmad Mozaffar</MudText>
                <MudText Class="mb-8" Typo="Typo.body2" Align="Align.Center">Lorem ipsum dolor sit amet, consectetur adipisicing elit. </MudText>
                <MudText Class="mb-8" Typo="Typo.subtitle2" Align="Align.Center">Student </MudText>
            </MudPaper>
        </MudItem>





    </MudGrid>
</div>
@code {
    public int spacing { get; set; } = 2;
}

<style>
    .container {
        padding: 40px;
        margin-top: 40px;
    }
</style>
